<footer>
  <p class="footer-rights">&copy; 2025 Aurora List All rights reserved.</p>
  <p class="footer-text">Contact us at: <a class="footerLink" href="mailto:safakhalaf026@gmail.com">safakhalaf026@gmail.com</a></p>
</footer>