* {
  box-sizing: border-box;
}

.cards-row {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

.card{
  width:300px;
  /* add BG color */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img{
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.card-body{
  padding: 15px;
}

.card-title{
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-text{
  font-size: 14px;
  color: black;
  line-height: 1.5;
  margin-bottom: 15px;
}

.card-btn{
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.card-btn:hover {
    background-color: #0056b3; 
}
.view-all-wrapper{
  display: flex;
  justify-content: center;
  margin: 20px 0 40px;
}

.view-more-link{
  font-weight: 600;
  text-decoration: none;
}