<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All items</title>
</head>
<body>
        <%- include('../partials/_navbar.ejs') %>
        <h1>Wishlist Items</h1>
    <ul>
        <% allItems.forEach(eachItem => { %>
            <li>
                <b><%= eachItem.itemName %></b> <br>
                <%if(!eachItem.isBought){%>
                    Purchase Status: Pending
                <% }else{%>
                    Purchase Status: Bought
                <% }%> <br>
                <a href="/items/<%= eachItem._id %>"> Item details</a> <br>
                Posted by: <%= eachItem.owner.username %> <br>
            </li> <br>
        <% }) %>
    </ul>
</body>
</html>