<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add Item</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class=" main-header page-header">Add new item to Wishlist!</h1>
    <form class="form" action="/items" method =post>
        <div class="form-wrapper">
                <label class="form-label" for="itemName">Item Name</label>
                <input class="form-input" id="itemName" type="text" name="itemName">   
        </div>

        <div class="form-wrapper">
                <label class="form-label" for="retailPrice">Retail Price (BD)</label>
                <input class="form-input" id="retailPrice" type="number" name="retailPrice" min="0">  
        </div>

        <div class="form-wrapper">
                <label class="form-label" for="purchaseLink">Purchase Link</label>
                <input class="form-input" id="purchaseLink" type="text" name="purchaseLink">
        </div>


        <div class="form-wrapper">
                <label class="form-label" for="category">Category</label>
                <select class="form-input" id="category" type="text" name="category">
                        <option value="Clothes">Clothes</option>
                        <option value="Makeup">Makeup</option>
                        <option value="Skincare">Skincare</option>
                        <option value="Jewelry">Jewelry</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Home">Home</option>
                        <option value="Micellaneous">Micellaneous</option>
                </select>
        </div>    

        <div class="form-wrapper">
                <label class="form-label" for="imageUrl">Image URL</label>
                <textarea class="form-input" id="imageUrl" name="imageUrl"></textarea>
        </div>

        <div class="form-wrapper">
                <label class="form-label" for="notes">Notes</label>
                <textarea class="form-input" id="notes" name="notes"></textarea>
        </div>
        <button class="button" type="submit">Add item!</button>
    </form>
    <%- include('../partials/_footer.ejs') %>
</body>
</html>