<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wishlist </title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>My Wishlist Items</h1>
    <ul>
        <% userItems.forEach(eachItem => { %>
            <li>
                <b><%= eachItem.itemName %></b> <br>
                Item Category: <%= eachItem.category %> <br>
                <%if(!eachItem.isBought){%>
                    Purchase Status: Pending
                <% }else{%>
                    Purchase Status: Bought
                <% }%> <br>
                <a href="/items/<%= eachItem._id %>"> Item details</a> 
            </li> <br>
        <% }) %>
    </ul>
</body>
</html>